.container {
  min-height: 100vh;
}

.main {
  background:
    linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px),
    url(/strike48-background.png);
  background-size: 64px 64px, 64px 64px, cover;
  background-position: center;
  background-repeat: no-repeat;
}