.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.heroText {
  text-align: left;
  max-width: 800px;
  margin: 0 auto;
  padding-top: 3rem;
}

.sectionTitle {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: black;
  text-align: center;
}

.heroText p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: black;
  text-align: center;
}